<div class="navbar navbar-inverse">
	<div class="container">
	  <a href="/" class="navbar-brand">
	    Vynil Collection v0.1
	  </a>
	  <ul class='nav nav-pills navbar-right'>
	    <li><a href='/'>Colección</a></li>
	    <li><a href='/'>Bandas</a></li>
	    <li><a href='/'>Lista de deseos</a></li>
	  </ul>
	</div>
</div>

<!-- Inicio Main Content -->
<div class="container-fluid" ng-view>
  
</div>

<!-- Footer -->
<div class="container-fluid text-center">
  <h6>Created by <a href="http://github.com/juanderuiz">JuandeRuiz</a></h2>
</div>
